.example-card {
  max-width: 250px;
  margin: 10px;
  border: 2px solid #f2c200;
  background-color: #f7f9fc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.example-card:hover {
  transform: scale(1.05);
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff1a1a;
  margin-top: 10px;
}

mat-card-subtitle {
  color: #787878;
}

mat-card-content {
  font-size: 1em;
  color: #333;
}

.pokemon-title {
  font-size: 3em;
  font-weight: bold;
  color: #ff1a1a;
  text-align: center;
  margin: 20px 0;
  font-family: 'PokemonFont', sans-serif; /* Puedes agregar una fuente estilo Pokemon */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
