.dialog-container {
    display: flex;
    flex-direction: column; /* Colocar los elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    padding: 20px;
  }
  
  img {
    width: 300px;  
    height: auto;
    margin-bottom: 20px;
  }
  
  .pokemon-details {
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
  }

  .pokemon-name {
    color: #ff1a1a; /* Cambia este color al que prefieras */
    font-size: 2em; /* Ajusta el tamaño del texto si es necesario */
    font-weight: bold;
  }